################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/app/CSMS/.vs/CSMS/FileContentIndex/b69f9365-9919-47ad-8117-ca0a682cd00e.vsidx
/app/CSMS/.vs/CSMS/v17/TestStore/0/000.testlog
/app/CSMS/.vs/CSMS/v17/TestStore/0/000.testlog
