:root {
  --color-text-light: #fafafe;
  --color-text-dark: #2d2e37;
  --color-text-gray: rgba(255, 255, 255, 0.5);
  --color-pink: rgb(205, 25, 179);
  --color-scrollbar-thumb: rgba(255, 255, 255, 0.2);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: transparent;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  height: 100vh;
  background: #1c3344;
  padding: 2%;
}
.wrapper {
  --vertical-padding: 2.5em;
  display: grid;
  height: 100%;
  grid-template-areas:
  "sidebar main main"
  "sidebar main main" 
  "player player player";
  grid-template-columns: auto 1fr 1fr;
}
.sidebar {
  height: 93vh;
  width: 33vh;
  --padding-left: 1.7em;
  display: flex;
  padding: var(--vertical-padding) 0;
  padding-right: 2.25vw;
  flex-direction: column;
  justify-content: space-between;
  grid-area: sidebar;
  border-radius: 10px;
  background: rgba(39, 39, 39, 0.5);
  backdrop-filter: blur(30px);
}
.sidebar > *:not(div),
.sidebar div > *:not(ul){
  padding-left: var(--padding-left);
}

.sidebar .app-logo {
  padding: 0 0 0 var(--padding-left);
  background: none;
}

.sidebar .app-logo > svg{
  padding: 0.2em;
  color: #fff;
  font-size: 2.5em;
  border-radius: 50%;
  background-image: linear-gradient(326deg, var(--color-pink) 0%, #ffa69e 80%);
}

.sidebar ul {
  display: flex;
  flex-direction: column;
}

.sidebar a > * {
  font-size: 1em;
  color: var(--color-text-light);
}

.sidebar a {
  display: flex;
  padding: 1em 0 1em var(--padding-left);
  align-items: center;
  gap: 1ch;
  /* workaround for animated background images as they are currently not supported yet (May 2023) */
  background: linear-gradient(90deg, rgba(205, 25, 179, 0.25) 0%, rgba(205, 25, 179, 0) 50%);
  background-position-x: -50px;
  background-repeat: no-repeat;
  transition: background-position .4s ease-in-out;
}

.sidebar a.active,
.sidebar a:hover {
  background-position-x: 0;
}

.sidebar a.active > svg,
.sidebar a:hover:not(.app-logo) > svg {
  color: var(--color-pink);
}
.sidebar h2 {
  margin-bottom: 1.4em;
  font-size: 1em;
  font-weight: 500;
  color: var(--color-pink);
}

.main-container {
  --horizontal-padding: 2.8em;
  display: grid;
  grid-area: main;
  padding: var(--vertical-padding) var(--horizontal-padding);
  grid-template:
    "searchbar . ."
    "main-container main-container main-container";
  grid-template-columns: minmax(0, 1fr);
  border-bottom-right-radius: 2em;
  /*background: aquamarine;*/
  background-repeat: no-repeat;
  background-size: auto auto, auto 100%;
  background-position: right bottom;
}

.card-main-container {
  width: 30vh;
}

.card-content {
  
}