.input {
    background-color: transparent;
    border: none;
    width: 10vw;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: var(--text);
}

.input:focus {
    width: 15vw;
}